*{
    margin: 0;
    /* padding: 0; */
}

:root{
    --primary: #05cf56;
    --contrast: #1e1f72;
    --background: #e2e2e2;

}

*{
    font-family: 'Roboto', sans-serif; 
    text-transform: uppercase;
}

body{
    /* height: 100vh; */
    /* overflow: hidden; */    
    margin: 0;
    background-color:rgba(13,63,86,255);   
   
}

div{
    width: 580px;
    height: 260px;
    background-color: var(--background);
    margin: 100px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;    
    background-image: url(../img/bg.jpg);
    /* background-size: cover; */
    
}

h1{    
    color: white;
    font-family: 'roboto' sans-serif;    
    font-size: 10 px;
    padding: 0;
}




input{
    display: block;
    width: 35%;
    background-color: transparent;
    margin: 35px ;   
    /* margin-top: 20px; */
    /* margin-top: 40px; */
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px white;
    color: white;
}


.btn{
    padding: 15px 20px;
    cursor: pointer;
    margin-right: 150px;
    background-color: rgba(1,1,1,255);
    color: white;
    border-radius: 20px;
    border: none;
}

.btn:hover{
    /* color: rgba(145,194,238,255); */
    color: black;
    background-color: rgba(11,108,136,255);
}

































/*h2{
    margin-top: 20px;
    margin-right: 10000px;
    padding: 10px;
    font-size: 18px;
    color: white;
}

a {
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;    
    margin-top: 50px;
    display: inline;
}

  a {
    display: inline;
    border-radius: 1000px;
    background-color: none;
    text-decoration: dashed;
    margin-bottom: 5000px;
    
} 


p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
} */






